Repository TDT4D/The-Dream-Team, pull requests merged in 2025-02, with the labels that each got.

#1 Modified the dependencies and startup order
  docker-compose.yml
Labels: docker

#74 Add routes for fetching projects & students applying to them
  backend/src/main/java/com/github/dreamteam/controllers/HealthController.java
  backend/src/main/java/com/github/dreamteam/controllers/ProjectController.java
  backend/src/main/java/com/github/dreamteam/controllers/ScoreSearchController.java
  backend/src/main/java/com/github/dreamteam/controllers/StudentController.java
  backend/src/main/java/com/github/dreamteam/exception/EntityNotFoundException.java
  backend/src/main/java/com/github/dreamteam/exceptions/EntityNotFoundException.java
  backend/src/main/java/com/github/dreamteam/models/ApplicationData.java
  backend/src/main/java/com/github/dreamteam/models/Project.java
  backend/src/main/java/com/github/dreamteam/models/Student.java
  backend/src/main/java/com/github/dreamteam/services/ProjectService.java
  backend/src/main/java/com/github/dreamteam/services/ProjectServiceImpl.java
  backend/src/main/java/com/github/dreamteam/services/ScoreSearchService.java
  backend/src/main/java/com/github/dreamteam/services/ScoreSearchServiceImpl.java
  backend/src/main/java/com/github/dreamteam/services/StudentService.java
  backend/src/main/java/com/github/dreamteam/services/StudentServiceImpl.java
Labels: backend, sprint 2

#80 UI update
  frontend/client/package-lock.json
  frontend/client/package.json
  frontend/client/src/components/header/header.component.scss
  frontend/client/src/components/header/header.component.tsx
  frontend/client/src/components/project-select/project-select.component.scss
  frontend/client/src/components/project-select/project-select.component.tsx
  frontend/client/src/components/score/score.component.scss
  frontend/client/src/components/score/score.component.tsx
  frontend/client/src/components/sort-column/drag-area-colourer.ts
  frontend/client/src/components/sort-column/sort-column.component.scss
  frontend/client/src/components/sort-column/sort-column.component.tsx
  frontend/client/src/components/student-card/student-card.component.scss
  frontend/client/src/components/student-card/student-card.component.tsx
  frontend/client/src/index.scss
  frontend/client/src/pages/select/select.page.scss
  frontend/client/src/pages/select/select.page.tsx
  frontend/client/src/pages/sort/sort.page.tsx
  frontend/client/src/services/project/project.service.ts
  frontend/client/src/types/Dragging.ts
Labels: frontend, sprint 2
