Repository TDT4D/The-Dream-Team, pull requests merged in 2025-03, with the labels that each got.

#89 Add redirects for ml calls
  backend/src/main/java/com/github/dreamteam/controllers/ProjectController.java
Labels: backend, sprint 3

#103 Add a way to initialize db from a dump
  .gitattributes
  db/init/.gitignore
  db/init/mongo-init.js
  db/init/mongo.gz.dvc
  db/init/restore.sh
Labels: sprint 3, db

#102 Add basic auth framework to frontend
  frontend/client/src/App.tsx
  frontend/client/src/components/header/header.component.scss
  frontend/client/src/components/header/header.component.tsx
  frontend/client/src/pages/select/select.page.tsx
  frontend/client/src/pages/sort/sort.page.tsx
  frontend/client/src/services/api/api.service.ts
  frontend/client/src/services/auth/auth.provider.tsx
  frontend/client/src/services/auth/auth.service.ts
  frontend/client/src/services/project/project.service.ts
  frontend/client/src/services/router/router.provider.tsx
  frontend/client/src/services/student/student.service.ts
Labels: frontend

#109 Change backend to serve data from db
  backend/src/main/java/com/github/dreamteam/MongoClientConfig.java
  backend/src/main/java/com/github/dreamteam/controllers/ProjectController.java
  backend/src/main/java/com/github/dreamteam/controllers/StudentController.java
  backend/src/main/java/com/github/dreamteam/services/ProjectService.java
  backend/src/main/java/com/github/dreamteam/services/ProjectServiceImpl.java
  backend/src/main/java/com/github/dreamteam/services/StudentService.java
  backend/src/main/java/com/github/dreamteam/services/StudentServiceImpl.java
  backend/src/main/resources/application.properties
Labels: backend, sprint 3, db

#111 Visual overhaul
  frontend/client/index.html
  frontend/client/public/TheDreamTeamLogo.svg
  frontend/client/public/vite.svg
  frontend/client/src/components/header/header.component.scss
  frontend/client/src/components/header/header.component.tsx
  frontend/client/src/components/label/label.component.tsx
  frontend/client/src/components/sort-column/sort-column.component.scss
  frontend/client/src/components/student-card/student-card.component.scss
  frontend/client/src/components/student-card/student-card.component.tsx
  frontend/client/src/index.scss
  frontend/client/src/pages/select/select.page.scss
  frontend/client/src/pages/sort/sort.page.scss
Labels: frontend

#112 Add local deployment stage (#101)
  .dvc/config
  .github/workflows/ci.yml
  db/mongo_pw.txt.dvc
  db/mongo_root_pw.txt.dvc
  db/mongo_root_uname.txt.dvc
  db/mongo_uname.txt.dvc
  ml/.gitignore
  ml/data/rawData.json.dvc
Labels: sprint 3, other

#122 Working Labels for frontend and CI/CD
  .github/workflows/ci.yml
  frontend/client/src/App.tsx
  frontend/client/src/components/header/header.component.tsx
  frontend/client/src/components/label/label.component.scss
  frontend/client/src/components/project-select/project-select.component.scss
  frontend/client/src/components/project-select/project-select.component.tsx
  frontend/client/src/components/sort-column/drag-area-colourer.ts
  frontend/client/src/components/sort-column/sort-column.component.tsx
  frontend/client/src/components/student-card/student-card.component.scss
  frontend/client/src/components/student-card/student-card.component.tsx
  frontend/client/src/pages/select/select.page.scss
  frontend/client/src/pages/select/select.page.tsx
  frontend/client/src/pages/select/student-marker.ts
  frontend/client/src/pages/sort/label-updater.ts
  frontend/client/src/pages/sort/sort.page.tsx
  frontend/client/src/services/api/api.service.ts
  frontend/client/src/services/auth/auth.provider.tsx
  frontend/client/src/services/project/project.provider.tsx
  frontend/client/src/services/project/project.service.ts
  frontend/client/src/services/storage/storage.service.ts
  frontend/client/src/services/student/student.service.ts
  frontend/client/src/types/Dragging.ts
  frontend/client/src/types/Label.ts
  frontend/client/src/types/Student.ts
Labels: frontend, sprint 3
