Repository TDT4D/The-Dream-Team, pull requests merged in 2025-04, with the labels that each got.

#138 Backend tests
  .github/workflows/test_backend.yml
  backend/.gitignore
  backend/Dockerfile
  backend/mvnw
  backend/pom.xml
  backend/src/main/java/com/github/dreamteam/controllers/ProjectController.java
  backend/src/main/java/com/github/dreamteam/controllers/StudentController.java
  backend/src/main/java/com/github/dreamteam/exceptions/EntityNotFoundException.java
  backend/src/main/java/com/github/dreamteam/models/ApplicationData.java
  backend/src/main/java/com/github/dreamteam/models/Project.java
  backend/src/main/java/com/github/dreamteam/models/Student.java
  backend/src/main/java/com/github/dreamteam/repositories/ProjectRepository.java
  backend/src/main/java/com/github/dreamteam/repositories/StudentRepository.java
  backend/src/main/java/com/github/dreamteam/services/ProjectService.java
  backend/src/main/java/com/github/dreamteam/services/StudentService.java
  backend/src/main/java/com/github/dreamteam/services/StudentServiceImpl.java
  backend/src/test/java/com/github/dreamteam/AbstractContainerBaseTest.java
  backend/src/test/java/com/github/dreamteam/DatabaseIntegrationTest.java
  backend/src/test/java/com/github/dreamteam/DreamteamApplicationTests.java
  backend/src/test/java/com/github/dreamteam/ProjectControllerTest.java
  backend/src/test/java/com/github/dreamteam/TestDreamteamApplication.java
  backend/src/test/java/com/github/dreamteam/TestcontainersConfiguration.java
  backend/src/test/resources/mock_projects.json
  backend/src/test/resources/mock_students.json
Labels: backend, sprint 4, testing

#158 Introduce endpoints for controlling ML
  backend/src/main/java/com/github/dreamteam/controllers/BaseController.java
Labels: backend, sprint 5

#142 Persistence on the frontend, score fetching & team building
  backend/src/main/java/com/github/dreamteam/controllers/BaseController.java
  backend/src/main/java/com/github/dreamteam/controllers/ProjectController.java
  frontend/Dockerfile
  frontend/client/src/components/score/score.component.tsx
  frontend/client/src/components/student-card/student-card.component.tsx
  frontend/client/src/pages/select/select.page.tsx
  frontend/client/src/pages/select/student-marker.ts
  frontend/client/src/pages/sort/drag-helpers.ts
  frontend/client/src/pages/sort/label-helpers.ts
  frontend/client/src/pages/sort/label-updater.ts
  frontend/client/src/pages/sort/score-helpers.ts
  frontend/client/src/pages/sort/sort.page.tsx
  frontend/client/src/pages/sort/students-to-columns.ts
  frontend/client/src/services/ML/ml.service.ts
  frontend/client/src/services/api/api.service.ts
  frontend/client/src/services/auth/auth.provider.tsx
  frontend/client/src/services/score/score.service.ts
  frontend/client/src/services/student/label.service.ts
  frontend/client/src/services/student/location.service.ts
  frontend/client/src/services/student/student.service.ts
  frontend/client/src/types/Columns.ts
  frontend/client/src/types/Dragging.ts
  frontend/client/src/types/Score.ts
  frontend/client/src/types/Student.ts
Labels: frontend, sprint 4

#166 ML API testing
  ml/.gitignore
  ml/api/routers/cleaning.py
  ml/api/routers/prediction.py
  ml/api/routers/training.py
  ml/data/test_data/test_cleaned_data.json
  ml/data/test_data/test_empty_data.json
  ml/data/test_data/test_score_data.json
  ml/data/test_empty_util_data.json
  ml/data_handling/data_cleaning_version4.py
  ml/data_handling/motivation_data_cleaning_version2.py
  ml/models/randomforest_v2.py
  ml/pytest.ini
  ml/requirements-full.txt
  ml/requirements.txt
  ml/scripts/modular_cleaning_script.py
  ml/scripts/modular_model_script.py
  ml/tests/api_tests/APIcleaning_test.py
  ml/tests/api_tests/APIpredict_test.py
  ml/tests/api_tests/APIscore_test.py
  ml/tests/api_tests/APIteam_test.py
  ml/tests/api_tests/APItraining_test.py
  ml/tests/api_tests/mode_validation_test.py
  ml/tests/api_tests/root_test.py
  ml/tests/util_tests/api_utils_test.py
  ml/tests/util_tests/storage_utils_test.py
  ml/tests/util_tests/testing_utils_test.py
  ml/utils/api_utils.py
  ml/utils/testing_utils.py
Labels: ml

#179 UI update
  frontend/client/src/components/header/header.component.tsx
  frontend/client/src/components/project-select/project-select.component.scss
  frontend/client/src/components/score/info-icon.svg
  frontend/client/src/components/score/score-info.component.scss
  frontend/client/src/components/score/score-info.component.tsx
  frontend/client/src/components/score/score.component.scss
  frontend/client/src/components/score/score.component.tsx
  frontend/client/src/components/score/score.svg
  frontend/client/src/components/sort-dropdown/dropdown-icon.svg
  frontend/client/src/components/sort-dropdown/sort-dropdown.component.scss
  frontend/client/src/components/sort-dropdown/sort-dropdown.component.tsx
  frontend/client/src/components/student-card/student-card.component.scss
  frontend/client/src/pages/select/dropdown-icon.svg
  frontend/client/src/pages/select/select.page.scss
  frontend/client/src/pages/select/select.page.tsx
  frontend/client/src/pages/sort/sort.page.scss
  frontend/client/src/pages/sort/sort.page.tsx
  frontend/client/src/pages/sort/sorting.ts
  frontend/client/src/pages/sort/students-to-columns.ts
  frontend/client/src/pages/training/training.page.scss
  frontend/client/src/pages/training/training.page.tsx
  frontend/client/src/services/ML/ml.service.ts
  frontend/client/src/services/auth/auth.provider.tsx
  frontend/client/src/services/project/default-projects.ts
  frontend/client/src/services/router/router.provider.tsx
  frontend/client/src/services/score/default-scores.ts
  frontend/client/src/services/score/score.service.ts
  frontend/client/src/services/student/default-students.ts
  frontend/client/src/services/student/student.service.ts
  frontend/client/src/types/SortMethods.ts
Labels: frontend, sprint 5

#185 DreamTeam team builder
  docker-compose.yml
  ml/api/routers/team_building.py
  ml/data/saved_data/rawData.json.dvc
  ml/data/saved_data/test_empty_util_data.json
  ml/scripts/dreamteam_script.py
  ml/scripts/modular_cleaning_script.py
  ml/scripts/modular_model_script.py
  ml/team_building/dreamteam_builder.py
  ml/utils/storage.py
Labels: enhancement, ml

#198 Mlfinishes
  ml/api/routers/team_building.py
  ml/scripts/cleaning_script.py
  ml/scripts/dreamteam_script.py
  ml/scripts/model_script.py
  ml/scripts/modeltestScript.py
  ml/scripts/modular_cleaning_script.py
  ml/scripts/modular_model_script.py
  ml/scripts/storage_script.py
  ml/scripts/team_script.py
  ml/team_building/dreamteam_builder.py
Labels: documentation, ml
